*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    width: 90%;
    margin: 0 auto; 
}

.website{
    height: 100vh;
    background: url(night-ocean-landscape-full-moon-stars-shine_107791-7397.webp) center/cover;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    color: white;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 30px;
}

main{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
